body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
}
.break-background {
  background-color: turquoise;
}
.App {
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  margin-left: 0px;
  padding: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 100, 54, 1) 59%,
    rgb(251, 68, 68) 90%
  );
}
#break {
  background: linear-gradient(
    180deg,
    rgba(96, 122, 233, 1) 5%,
    rgba(27, 227, 217, 1) 67%
  );
}

#start_stop,
#reset {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  text-align: center;
  font-size: 1vw;
  margin: 0 auto;
  position: relative;
  background: none;
  color: white;
  border: 1.5px solid white;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 5px #999;
}
#start_stop:hover {
  background: rgba(255, 255, 255, 0.1);
}
.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#clock {
  border: 3px dotted white;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  font-size: 5.2rem;
  font-family: "Titillium Web", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intervals {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#startPause-ResetButtons {
  bottom: 10px;
  display: flex;
  flex-direction: row;
  padding-top: 8%;
  padding-bottom: 3%;
}

.sessionButtons {
  background: none;
  border: none;
  color: white;
  font-size: 2.5rem;
  padding: 10px;
}

.breakButtons {
  background: none;
  border: none;
  color: white;
  font-size: 2.5rem;
  padding: 10px;
}

#reset {
  text-align: end;
  padding-left: 22px;
}
button:focus {
  outline: 0;
}
button:hover {
  background-color: white;
}

#hide {
  display: none;
}
